# ==================== Python artifacts
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pkl
.mypy_cache
_autosummary
.venv

# ==================== Build artifacts
build
dist
target
*.egg-info
*.DS_Store
*.scala-build
.bsp
.bloop
.metals
.cache
.lib
tmp
.tmp
gigl.egg-info/
gigl_dataflow_setup.egg-info/
miniconda/

# ==================== IDE / Editor folders
.idea
.vscode
.history

# ==================== Project tools & devcontainers
.devcontainer
project/boot/
project/plugins/project/
project/target/
**/project/**/metals.sbt
src_managed/
lib_managed/
src/test/assets/output/*
containers/

# ==================== Test / temp / logs
.test_assets/
logs/
**/src/test/assets/**/output/*

# ==================== Git & VCS
**/.git

# ==================== Fossa files
fossa
fossa.bundle
fossa*.zip

# ==================== Miscellaneous folders
proto/
examples/MAG240M/downloads/
graphlearn_torch/
graphlearn_torch.egg-info/
do_not_open_source
.github/
.ipynb_checkpoints/

# We ignore this folder as it is used to test our orchestration api.
# It simulates how a customer would use GiGL—not as part of a developer workflow.
# See: testing/api_test/README.md for more details.
testing/api_test

# https://github.com/google-github-actions/auth/issues/497
gha-creds-*.json
