name: build-base-docker-images

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR to run the workflow on'
        required: true

env:
  DOCKER_BUILDKIT: 1
  GIGL_BASE_CUDA_IMAGE: us-central1-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/public-gigl/gigl-cuda-base:${{ github.sha }}.${{ github.run_number }}.${{ github.run_attempt }}
  GIGL_BASE_CPU_IMAGE: us-central1-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/public-gigl/gigl-cpu-base:${{ github.sha }}.${{ github.run_number }}.${{ github.run_attempt }}
  GIGL_BASE_DATAFLOW_IMAGE: us-central1-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/public-gigl/gigl-dataflow-base:${{ github.sha }}.${{ github.run_number }}.${{ github.run_attempt }}
  GIGL_BUILDER_IMAGE: us-central1-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/gigl-base-images/gigl-builder:${{ github.sha }}.${{ github.run_number }}.${{ github.run_attempt }}
  WORKFLOW_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

jobs:
  comment-workflow-started:

    runs-on: ubuntu-latest
    steps:
    - name: Comment on PR
      uses: snapchat/gigl/.github/actions/comment-on-pr@main
      with:
        pr_number: ${{ inputs.pr_number }}
        message: |
          Starting to [build](${{env.WORKFLOW_URL}}) base images for CUDA and CPU.
          This may take a while, please be patient.
          The images will be pushed to the GCP Artifact Registry.
          Once done, the workflow will update the `dep_vars.env` file with the new image names.

  build-cuda-base-image:
    runs-on: gigl-large-instances # x64 Ubuntu:latest w/ 8-cores, 32GB RAM, 300 GB SSD
    permissions:
      # Needed for gcloud auth: https://github.com/google-github-actions/auth
      contents: 'read'
      id-token: 'write'
    steps:
    - name: Checkout PR Branch

      uses: snapchat/gigl/.github/actions/checkout-pr-branch@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pr_number: ${{ inputs.pr_number }}
    - name: Setup Machine for building Docker images
      uses: ./.github/actions/setup-python-tools
      with:
        setup_gcloud: "true"
        try_cleaning_disk_space: "true"
        gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        gcp_service_account_email: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}

    - name: Build and Push CUDA Base Image
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev
        docker build -f ./containers/Dockerfile.cuda.base -t ${GIGL_BASE_CUDA_IMAGE} .
        docker push ${GIGL_BASE_CUDA_IMAGE}
        echo "Pushed CUDA base image to ${GIGL_BASE_CUDA_IMAGE}"

  build-cpu-base-image:
    runs-on: ubuntu-latest
    permissions:
      # Needed for gcloud auth: https://github.com/google-github-actions/auth
      contents: 'read'
      id-token: 'write'
    steps:
    - name: Checkout PR Branch

      uses: snapchat/gigl/.github/actions/checkout-pr-branch@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pr_number: ${{ inputs.pr_number }}
    - name: Setup Machine for building Docker images
      uses: ./.github/actions/setup-python-tools
      with:
        setup_gcloud: "true"
        try_cleaning_disk_space: "true"
        gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        gcp_service_account_email: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
    - name: Build and Push CPU Base Image and Docker CPU Image
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev

        docker build -f ./containers/Dockerfile.cpu.base -t ${GIGL_BASE_CPU_IMAGE} .
        docker push ${GIGL_BASE_CPU_IMAGE}
        echo "Pushed CPU base image to ${GIGL_BASE_CPU_IMAGE}"

  build-dataflow-base-image:
    runs-on: ubuntu-latest
    permissions:
      # Needed for gcloud auth: https://github.com/google-github-actions/auth
      contents: 'read'
      id-token: 'write'
    steps:
    - name: Checkout PR Branch

      uses: snapchat/gigl/.github/actions/checkout-pr-branch@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pr_number: ${{ inputs.pr_number }}
    - name: Setup Machine for building Docker images
      uses: ./.github/actions/setup-python-tools
      with:
        setup_gcloud: "true"
        try_cleaning_disk_space: "true"
        gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        gcp_service_account_email: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
    - name: Build and Push Dataflow Base Image
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev

        docker build -f ./containers/Dockerfile.dataflow.base -t ${GIGL_BASE_DATAFLOW_IMAGE} .
        docker push ${GIGL_BASE_DATAFLOW_IMAGE}
        echo "Pushed Dataflow base image to ${GIGL_BASE_DATAFLOW_IMAGE}"

  build-builder-image:
    runs-on: ubuntu-latest
    permissions:
      # Needed for gcloud auth: https://github.com/google-github-actions/auth
      contents: 'read'
      id-token: 'write'
    steps:
    - name: Checkout PR Branch

      uses: snapchat/gigl/.github/actions/checkout-pr-branch@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pr_number: ${{ inputs.pr_number }}
    - name: Setup Machine for building Docker images
      uses: ./.github/actions/setup-python-tools
      with:
        setup_gcloud: "true"
        try_cleaning_disk_space: "true"
        gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        gcp_service_account_email: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}

    - name: Build and Push the builder image used by cloud build
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev
        # Download scala deps so they are avaialble for docker context to use
        # See: Dockerfile.builder
        bash ./requirements/install_scala_deps.sh --download-only
        docker build -f ./containers/Dockerfile.builder  -t ${GIGL_BUILDER_IMAGE} .
        docker push ${GIGL_BUILDER_IMAGE}
        echo "Pushed Builder image to ${GIGL_BUILDER_IMAGE}"

  build-and-commit-base-images:
    needs:
      - build-cuda-base-image
      - build-cpu-base-image
      - build-dataflow-base-image
      - build-builder-image
    runs-on: ubuntu-latest
    steps:

    - name: Commit and Push Base Images

      uses: snapchat/gigl/.github/actions/run-command-on-pr@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pr_number: ${{ inputs.pr_number }}
        should_leave_progress_comments: "false"
        command: bash .github/scripts/update_docker_image_refs.sh


    - name: Commit and Push Dep Vars
      uses: snapchat/gigl/.github/actions/commit-and-push@main
      with:
        commit_message: "[AUTOMATED] Update dep.vars, and other relevant files with new image names"
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - uses: snapchat/gigl/.github/actions/comment-on-pr@main

      with:
        pr_number: ${{ inputs.pr_number }}
        message: |
          Built and pushed new images:
          * CUDA base image: `${{ env.GIGL_BASE_CUDA_IMAGE }}`
          * CPU base image: `${{ env.GIGL_BASE_CPU_IMAGE }}`
          * Dataflow base image: `${{ env.GIGL_BASE_DATAFLOW_IMAGE }}`
          * Builder image: `${{ env.GIGL_BUILDER_IMAGE }}`

          Updated `dep_vars.env` with new image names.
          Updated `.github/cloud_builder/run_command_on_pr_cloud_build.yaml` with new builder image.
